{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}
<!--brand for small screens only through css media query-->
{% block content %}     
<div class="container h-100 indexintro">
    <div class="col-12 my-auto">
    <a href="{% url 'home' %}" class="navbar-brand"><img class="img-fluid mobilelogo" src="{% static 'logo/logo.png' %}" alt="company logo"/></a>
</div>
    <!--Shop now button overlaying main image-->
    <div class="row h-100">
        <div class="col-7 col-md-6 my-auto">
            <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 py-3">
                HIGH QUALITY IMAGES OF THE BEST STREET ART FROM AROUND THE WORLD PRINTED ON CANVAS</br></br>SHOP NOW
            </a>
        </div>
    </div>
</div>
<!--footer to show on home page only and on larger screens only through css media query-->
<div class="container fixed-bottom footer">
  <div class="row">
    	<div class="col-md-12">
    	    <footer class="footer">				
		<div class="container">
			<div class="row">
                <div class="col-md-3 m-b-30 one-footer-link">
                    <a href="{% url 'home' %}" class="footer-links">
					<div class="footer-title m-t-5 m-b-20 p-b-8">
						Home
                    </div>
                    </a>	
				</div>
				<div class="col-md-3 m-b-30 one-footer-link">
                    <a href="{% url 'products' %}" class="footer-links">
					<div class="footer-title m-t-5 m-b-20 p-b-8">
						Shop
                    </div>
                    </a>	
				</div>
				<div class="col-md-3 m-b-30 one-footer-link">
                    <a href="{% url 'blog' %}" class="footer-links">
					<div class="footer-title m-t-5 m-b-20 p-b-8">
						Blog
                    </div>
                    </a>	
				</div>
				<div class="col-md-3 m-b-30 one-footer-link">
                    <a href="{% url 'cities' %}" class="footer-links">
					<div class="footer-title m-t-5 m-b-20 p-b-8">
						Cities
                    </div>
                    </a>	
				</div>

					<div class="footer-social-links m-t-30 pl-3">
						<li>
							<a href="https://www.facebook.com/" target="_blank">
								<i class="fa fa-facebook" aria-hidden="true"></i>
							</a>
							<a href="https://twitter.com/?lang=en-gb" target="_blank">
								<i class="fa fa-twitter" aria-hidden="true"></i>
							</a>
							<a href="https://uk.linkedin.com/" target="_blank">
								<i class="fa fa-linkedin" aria-hidden="true"></i>
							</a>
							<a href="https://www.youtube.com/" target="_blank">
								<i class="fa fa-youtube" aria-hidden="true"></i>
							</a>
						</li>
					</div>
				</div>
			</div>
		</div>
	</footer>
    </div>
	</div>
</div>
{% endblock %}