<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 hvr-underline-from-center" href="{% url 'home' %}">
                Home
            </a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 hvr-underline-from-center" href="{% url 'products' %}">
                Shop
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 hvr-underline-from-center" href="{% url 'blog' %}">
                Blog
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 hvr-underline-from-center" href="#">
                About Us
            </a>
        </li>
    </ul>
